<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
    <a   href="/show">
        <button class="btn btn-info mt-3 float-end m-lg-0 " >Add New Courses</button>
    </a>
<div class="container mt-5">

    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h3 class="mb-0">📚 Courses List</h3>
        </div>

        <div class="card-body p-0">

            <table class="table table-hover table-striped mb-0 text-center">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Price ($)</th>
                        <th>Video</th>
                        <th>Professor</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for cs in courses %}
                    <tr>
                        <td>{{ cs.id }}</td>
                        <td>{{ cs.title }}</td>
                        <td>{{ cs.description }}</td>
                        <td>${{ cs.price }}</td>
                        <td>
                            <a href="{{ cs.video }}" class="btn btn-sm btn-success" target="_blank">
                                Watch
                            </a>
                        </td>
                        <td>{{ cs.professor }}</td>
                         <td class="d-flex justify-content-center gap-2">

                            <a href="/edit/{{ cs.id }}" class="btn btn-sm btn-warning">
                                ✏️ Edit
                            </a>

                            <form action="/delete/{{ cs.id }}" method="POST">
                                <button type="submit"
                                        class="btn btn-sm btn-danger"
                                        onclick="return confirm('Are you sure?')">
                                    Delete
                                </button>
                            </form>

                        </td>
                    </tr>
                    
                    {% endfor %}
                </tbody>

            </table>

        </div>
    </div>

</div>

</body>
</html>